@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
@keyframes gradientBorder {
  0% {
    border-image-source: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border-image-slice: 1;
  }
  50% {
    border-image-source: linear-gradient(to left, #F58529, #DD2A7B, #8134AF);
    border-image-slice: 1;
  }
  100% {
    border-image-source: linear-gradient(to right, #F58529, #DD2A7B, #8134AF);
    border-image-slice: 1;
  }
}

.border-gradient {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #F58529, #DD2A7B, #8134AF) 1;
}

.hover\:animate-border:hover {
  animation: gradientBorder 5s linear infinite;
}
    